<div id="education" data-accordion="collapse">
    {% for education in app_data['resume']['education'] %}
        <h2 id="education-heading-{{ loop.index }}">
            <button type="button" class="flex text-left items-center justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-600  hover:bg-gray-100 gap-3" data-accordion-target="#education-body-{{ loop.index }}" aria-expanded="false" aria-controls="education-body-{{ loop.index }}">
                <div class="grid grid-cols-1">
                    <p class="font-medium text-gray-500 dark:text-gray-300">{{ education['school_name'] }}</p>
                    <p class="font-normal text-gray-600 dark:text-gray-400">{{ education['field_of_study']}}</p>
                </div>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="education-body-{{ loop.index }}" class="hidden" aria-labelledby="education-heading-{{ loop.index }}">
            <div class="grid gap-4 mb-4 grid-cols-2">
                <!-- Store index value -->
                <input type="hidden" name="edu_index" id="edu_index" value="">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                <div class="grid grid-cols-2 col-span-2">
                    <div class="col-span-1">
                        <label for="edit_school_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">School Name</label>
                        <input type="text" name="edit_school_name" id="edit_school_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="School name" value="" required>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                </div>
                <div class="col-span-1">
                    <label for="edit_degree" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Degree</label>
                    <input type="text" name="edit_degree" id="edit_degree" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Degree" value="" required>
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                </div>
                <div class="col-span-1">
                    <label for="edit_field_of_study" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Field of Study</label>
                    <input type="text" name="edit_field_of_study" id="edit_field_of_study" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Field of study" value="" required>
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                </div>
                <div class="grid grid-cols-2 col-span-2">
                    <div class="col-span-1">
                        <label for="edit_grade" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Grade</label>
                        <input type="text" name="edit_grade" id="edit_grade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Grade Point Average" value="">
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                </div>
                <div class="col-span-1">
                    <label for="edit_start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Date</label>
                    <div class="grid grid-cols-2 gap-1">
                        <select id="edit_start" name="edit_start_month" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected>Month</option>
                            {% for month in months %}
                                <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                        <select id="edit_start" name="edit_start_year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected>Year</option>
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                </div>
                <div class="col-span-1">
                    <label for="edit_end" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Graduation Date</label>
                    <div class="grid grid-cols-2 gap-1">
                        <select id="edit_end" name="edit_end_month" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected>Month</option>
                            {% for month in months %}
                                <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                        <select id="edit_end" name="edit_end_year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected>Year</option>
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label for="edit_activities" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Activities & Societies</label>
                    <textarea id="edit_activities" name="edit_activities" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type activities and societies here" ></textarea>
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                </div>
                <div class="col-span-2">
                    <label for="edit_description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea id="edit_description" name="edit_description" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type description here" ></textarea>
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                </div>
            </div>
        </div>
    {% endfor %}
</div>