{% extends 'layout.html' %}

{% block sidebar %}
{% endblock %}
{% block content %}

<div class="p-0 mt-14 sm:ml-64"> <!-- Adjust this to accommodate the sidebar -->
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Resume Builder</h1>
    </div>
</header>

<main>

    <div class="flex flex-row">
        <div class="basis-3/4 mx-auto w-full py-6 sm:pr-6 lg:pr-8">
            <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                <div class="flex items-center justify-between mb-4">
                    <div>
                        <div class="px-4 sm:px-0">
                            <h3 class="text-2xl font-semibold leading-7 text-gray-900 dark:text-white">Resume</h3>
                        </div>
                        {% include 'resume_components/sidebar.html' %}

                        <div class="mt-6 border-t border-gray-100">
                            <dl class="divide-y divide-gray-100 ">
                                <!-- Contact Information Section -->
                                <div class="px-4 py-6 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-0">
                                    <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Contact Info</dt>
                                    <dd class="grid grid-cols-2 mt-1 text-sm leading-6 sm:col-span-4 sm:mt-0">
                                        <!-- Edit Button -->
                                        <div class="grid col-span-6 justify-end content-start">
                                            <button type="button" data-modal-target="edit-contact" data-modal-toggle="edit-contact" class="text-white hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                                                <i class="material-icons w-8 h-6">
                                                    edit
                                                </i>
                                            </button>
                                        </div>
                                        <div class="grid grid-flow-col col-span-6 auto-cols-max ">
                                            <div class="grid-flow-row auto-rows-max gap-1">
                                                <p class="text-sm font-medium mr-2 text-gray-900 truncate dark:text-white bg-gray-700">
                                                    Name:
                                                </p>
                                                <p class="text-sm font-medium mr-2 text-gray-900 truncate dark:text-white bg-gray-700">
                                                    Email:
                                                </p>
                                                <p class="text-sm font-medium mr-2 text-gray-900 truncate dark:text-white bg-gray-700">
                                                    Phone:
                                                </p>
                                                {% if resume['contact']['linkedin'] != '' %}
                                                    <p class="text-sm font-medium mr-2 text-gray-900 dark:text-white bg-gray-700">
                                                        LinkedIn Profile:
                                                    </p>
                                                {% endif %}
                                                {% if resume['contact']['portfolio'] != '' %}
                                                    <p class="text-sm font-medium mr-2 text-gray-900 dark:text-white bg-gray-700">
                                                        Portfolio Site:
                                                    </p>
                                                {% endif %}
                                            </div>
                                            <div class="grid-flow-row auto-rows-max gap-1">
                                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300 bg-gray-700">
                                                    {{ resume['name'] }}
                                                </p>
                                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300 bg-gray-700">
                                                    {{ resume['contact']['email'] }}
                                                </p>
                                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300 bg-gray-700">
                                                        {{ resume['contact']['phone'] }}
                                                </p>
                                                {% if resume['contact']['linkedin'] != '' %}
                                                    <p class="text-sm font-medium w-80 text-wrap text-gray-900 truncate dark:text-gray-300 bg-gray-700">
                                                            {{ resume['contact']['linkedin'] }}
                                                    </p>
                                                {% endif %}
                                                {% if resume['contact']['portfolio'] != '' %}
                                                    <p class="text-sm font-medium w-52 text-gray-900 truncate dark:text-gray-300 bg-gray-700">
                                                            {{ resume['contact']['portfolio'] }}
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </dd>
                                </div>
                                <!-- Summary Section -->
                                <div class="px-4 py-6 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-0">
                                    <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Summary</dt>
                                    <dd class="grid grid-cols-6 mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-4 sm:mt-0">
                                        <!-- Edit Button -->
                                        <div class="grid col-span-6 justify-end content-start">
                                            <button type="button" data-modal-target="edit-summary" data-modal-toggle="edit-summary" class="text-white hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                                                <i class="material-icons w-8 h-6">
                                                    edit
                                                </i>
                                            </button>
                                        </div>
                                        <div class="grid col-span-6">
                                            <span style="white-space: pre-line">
                                                {{ resume['summary'] }}
                                            </span>
                                        </div>
                                    </dd>
                                </div>
                                <!-- Experience Section -->
                                <div class="px-4 py-6 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-0">
                                    <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Experience</dt>
                                    <dd class="grid grid-cols-6 mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-4 sm:mt-0">
                                        <!-- Add Button -->
                                        <div class="grid col-span-6 justify-end content-start">
                                            <button type="button" data-modal-target="add-experience" data-modal-toggle="add-experience" class="text-white hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                                                <i class="material-icons w-8 h-6">
                                                    add
                                                </i>
                                                Add experience
                                            </button>
                                        </div>
                                        <div class="grid col-span-6 gap-5">
                                            <!-- Iterage through each work history -->
                                            {% for experience in resume['work_history'] %}
                                                <div class="flex">
                                                    <!-- Main Content -->
                                                    <div class=" grid grid-cols-2 basis-11/12">
                                                        <div class="text-lg font-large dark:text-white col-span-1">
                                                            {{ experience['job_title'] }}, {{ experience['company_name'] }}
                                                        </div>
                                                        <div class="grid justify-end text-lg font-large dark:text-white col-span-1">
                                                            {{ experience['date_started']['month'] }} {{ experience['date_started']['year'] }} -
                                                            {% if experience['currently_working'] == True %}
                                                                Current
                                                            {% else %}
                                                                {{ experience['date_ended']['month'] }} {{ experience['date_ended']['year'] }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-span-2">
                                                            <span id="description-{{ loop.index }}" class="line-clamp-5" style="white-space: pre-line">
                                                                {{ experience['highlights'] }}
                                                            </span>
                                                        </div>
                                                        <div class="grid justify-end col-span-2">
                                                            <button onclick=showMore(this,"description-{{ loop.index }}") class="text-blue-700 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-300">show more</button>
                                                        </div>
                                                    </div>
                                                    <!-- Edit Button -->
                                                    <div class="flex flex-col basis-1/12 ml-2">
                                                        <div class="flex justify-center basis-1/4 ">
                                                            <div>
                                                                <button id="ex-options-btn-{{ loop.index }}" data-dropdown-toggle="ex-options-{{ loop.index }}" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                                                 <i class="material-icons w-8 h-6">
                                                                    more_vert
                                                                </i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div id="ex-options-{{ loop.index }}" class="flex hidden justify-center basis-3/4 ">
                                                            <div class="flex flex-col justify-center gap-0.5">
                                                                <!-- Move buttons -->
                                                                <button type="button" onclick="editExperience({{ loop.index }})" data-modal-target="edit-experience" data-modal-toggle="edit-experience" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        keyboard_arrow_up
                                                                    </i>
                                                                </button>
                                                                <button type="button" onclick="editExperience({{ loop.index }})" data-modal-target="edit-experience" data-modal-toggle="edit-experience" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        keyboard_arrow_down
                                                                    </i>
                                                                </button>
                                                                <button type="button" onclick="editExperience({{ loop.index }})" data-modal-target="edit-experience" data-modal-toggle="edit-experience" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        edit
                                                                    </i>
                                                                </button>
                                                                <button type="button" onclick="deleteExperience({{ loop.index }})" data-modal-target="delete-experience" data-modal-toggle="delete-experience" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        delete
                                                                    </i>
                                                                </button>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                {% if loop.index != '0' %}
                                                    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </dd>
                                </div>
                                <!-- Education Section -->
                                <div class="px-4 py-6 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-0">
                                    <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Education</dt>
                                    <dd class="grid grid-cols-6 mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-4 sm:mt-0">
                                        <!-- Add Button -->
                                        <div class="grid col-span-6 justify-end content-start">
                                            <button type="button" data-modal-target="add-education" data-modal-toggle="add-education" class="text-white hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                                                <i class="material-icons w-8 h-6">
                                                    add
                                                </i>
                                                Add Education
                                            </button>
                                        </div>
                                        <div class="grid col-span-6 gap-5">
                                            <!-- Iterage through each education -->
                                            {% for education in resume['education'] %}
                                                <div class="flex">
                                                    <!-- Main Content -->
                                                    <div class=" grid grid-cols-2 basis-11/12">
                                                        <div class="text-lg font-large dark:text-white col-span-2">
                                                            {{ education['school_name'] }}
                                                        </div>
                                                        <div class="text-lg font-large dark:text-gray-400 col-span-2">
                                                            {{ education['degree'] }}, {{ education['field_of_study'] }}
                                                        </div>
                                                        <div class="text-lg font-large dark:text-gray-400 col-span-2">
                                                            {{ education['date_started']['month'] }} {{ education['date_started']['year'] }} - {{ education['graduation_date']['month'] }} {{ education['graduation_date']['year'] }}
                                                        </div>
                                                        {% if education['grade'] != ''%}
                                                            <div class="text-lg font-large dark:text-gray-400 col-span-2">
                                                                GPA: {{ education['grade'] }}
                                                            </div>
                                                        {% endif %}
                                                        <!-- activities and description -->
                                                        <div class="col-span-2">

                                                            <span id="edu-activities-{{ loop.index }}" class="line-clamp-5" style="white-space: pre-line">
                                                                {{ education['activities'] }}
                                                            </span>
                                                        </div>
                                                        {% if education['activities'] != '' %}
                                                            <div class="grid justify-end col-span-2">
                                                                <button onclick=showMore(this,"edu-activities-{{ loop.index }}") class="text-blue-700 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-300">show more</button>
                                                            </div>
                                                        {% endif %}
                                                        <!-- activities and description -->
                                                        <div class="col-span-2">
                                                            <span id="edu-description-{{ loop.index }}" class="line-clamp-5" style="white-space: pre-line">
                                                                {{ education['description'] }}
                                                            </span>
                                                        </div>
                                                        {% if education['description'] != '' %}
                                                            <div class="grid justify-end col-span-2">
                                                                <button onclick=showMore(this,"edu-description-{{ loop.index }}") class="text-blue-700 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-300">show more</button>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <!-- Edit Button -->
                                                    <div class="flex flex-col basis-1/12 ml-2">
                                                        <div class="flex justify-center basis-1/4 ">
                                                            <div>
                                                                <button id="edu-options-btn-{{ loop.index }}" data-dropdown-toggle="edu-options-{{ loop.index }}" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                                                 <i class="material-icons w-8 h-6">
                                                                    more_vert
                                                                </i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div id="edu-options-{{ loop.index }}" class="flex hidden justify-center basis-3/4 ">
                                                            <div class="flex flex-col justify-center gap-0.5">
                                                                <!-- Move buttons -->
                                                                <button type="button" onclick="editExperience({{ loop.index }})" data-modal-target="edit-education" data-modal-toggle="edit-education" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        keyboard_arrow_up
                                                                    </i>
                                                                </button>
                                                                <button type="button" onclick="editExperience({{ loop.index }})" data-modal-target="edit-education" data-modal-toggle="edit-education" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        keyboard_arrow_down
                                                                    </i>
                                                                </button>
                                                                <button type="button" onclick="editEducation({{ loop.index }})" data-modal-target="edit-education" data-modal-toggle="edit-education" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        edit
                                                                    </i>
                                                                </button>
                                                                <button type="button" onclick="deleteExperience({{ loop.index }})" data-modal-target="delete-education" data-modal-toggle="delete-education" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                                                                    <i class="material-icons w-8 h-6">
                                                                        delete
                                                                    </i>
                                                                </button>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                {% if loop.index != '0' %}
                                                    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </dd>
                                </div>
                               <!-- End of Resume Section -->
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% include "resume_components/forms/edit_contact.html" %}
{% include "resume_components/forms/edit_summary.html" %}
{% include "resume_components/forms/edit_experience.html" %}
{% include "resume_components/forms/add_experience.html" %}
{% include "resume_components/forms/delete_experience.html" %}
{% include "resume_components/forms/add_education.html" %}
{% include "resume_components/forms/edit_education.html" %}
{% endblock %}

{% block scripts %}
<script>
function showMore(button, clamp_element){
    description = document.getElementById(clamp_element)
    if (description.classList.contains('line-clamp-5')) {
        description.classList.remove('line-clamp-5')
        button.innerHTML = "show less"
    } else {
        description.classList.add('line-clamp-5')
        button.innerHTML = "show more"
    }
}
</script>
<script>
function deleteExperience(index){
    $("#ex-delete-confirm").attr("href", "/my_resume/delete_ex?_exid=".concat(index))
}
</script>
<script>
function deleteEducation(index){
    $("#edu-delete-confirm").attr("href", "/my_resume/delete_edu?_eduid=".concat(index))
}
</script>
<script>
function editEducation(index){
    resume = {{ resume['education'] | tojson }}
    document.getElementById('edu_index').value = index-1
    document.getElementById('edit_school_name').value = resume[index-1]['school_name']
    document.getElementById('edit_degree').value = resume[index-1]['degree']
    document.getElementById('edit_field_of_study').value = resume[index-1]['field_of_study']
    document.getElementById('edit_grade').value = resume[index-1]['grade']
    document.getElementsByName('edit_start_month')[0].value = resume[index-1]['date_started']['month']
    document.getElementsByName('edit_start_year')[0].value = resume[index-1]['date_started']['year']
    document.getElementsByName('edit_end_month')[0].value = resume[index-1]['graduation_date']['month']
    document.getElementsByName('edit_end_year')[0].value = resume[index-1]['graduation_date']['year']
    document.getElementById('edit_activities').value = resume[index-1]['activities']
    document.getElementById('edit_description').value = resume[index-1]['description']
}
</script>
<script>
function editExperience(index){
    resume = {{ resume['work_history'] | tojson }}
    document.getElementById('ex_index').value = index-1
    document.getElementById('ex_job_title').value = resume[index-1]['job_title']
    document.getElementById('ex_company').value = resume[index-1]['company_name']
    if ( resume[index-1]['currently_working']== 1 ){
         document.getElementById('ex_current').checked = true;
         $("select[name='ex_end_year']").prop('disabled', true);
         $("select[name='ex_end_month']").prop('disabled', true);
    } else {
        document.getElementsByName('ex_end_month')[0].value = resume[index-1]['date_ended']['month']
        document.getElementsByName('ex_end_year')[0].value = resume[index-1]['date_ended']['year']
        document.getElementById('ex_current').checked = false;
        $("select[name='ex_end_year']").prop('disabled', false);
         $("select[name='ex_end_month']").prop('disabled', false);
    }

    document.getElementsByName('ex_start_month')[0].value = resume[index-1]['date_started']['month']
    document.getElementsByName('ex_start_year')[0].value = resume[index-1]['date_started']['year']
    document.getElementById('ex_description').value = resume[index-1]['description']
}
</script>
<script>
    $("#ex_current").change(function() {
        if ($(this).is(":checked")) {
            $("select[name='ex_end_year']").prop('disabled', true);
            $("select[name='ex_end_month']").prop('disabled', true);
        } else {
            $("select[name='ex_end_year']").prop('disabled', false);
            $("select[name='ex_end_month']").prop('disabled', false);
        }
    })
</script>
</div>
{% endblock %}