{% extends 'layout.html' %}

{% block content %}
<div class="p-0 mt-14"> <!-- Adjust this to accommodate the sidebar -->
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Application Tracker</h1>
    </div>
</header>
<main>
    <div class="flex justify-center py-5 sm:py-5  bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="inline-flex">
            <dl class="grid grid-cols-1 gap-x-1 text-center lg:grid-cols-3">
              <div class="flex max-w-xs p-5 rounded-s-lg flex-col gap-y-4 dark:bg-gray-600">
                <dt class="text-base leading-5 text-gray-600  dark:text-gray-300">Active applications</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
                    {{ app_metrics['active_apps'] }}</dd>
              </div>
              <div class=" flex max-w-xs p-5 flex-col gap-y-4 dark:bg-gray-600">
                <dt class="text-base leading-7 text-gray-600 dark:text-gray-300">Applied this month</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
                    {{ app_metrics['applied_month'] }}</dd>
              </div>
              <div class="flex max-w-xs p-5 rounded-e-lg flex-col gap-y-4 dark:bg-gray-600">
                <dt class="text-base leading-7 text-gray-600 dark:text-gray-300">Placeholder</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl">000</dd>
              </div>
            </dl>
        </div>
    </div>
    <div class="flex flex-row justify-center mx-auto">
        <div class="basis-1/4 ml-auto  py-6 sm:px-6 lg:px-8">
            <div class="p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                <div class="flex items-center justify-between mb-4 h-10">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Latest Jobs</h5>
                    {% if add_job == False %}
                        <a type="button" href="/applications/{{ current_page }}" class="text-white items-center inline-flex bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-1 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <i class="material-icons">
                                add
                            </i>
                                Add Job
                        </a>
                    {% endif %}
               </div>
                <form method="post" class="flex items-center max-w-sm mx-auto mb-6" action="{{ url_for("app_search") }}">
                    <label for="simple-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                            </svg>
                        </div>
                        <input type="text" id="search" name="search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search title or company name..." required />
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                    <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </form>
               <div class="flow-root">
                    <ul role="list" class="w-full divide-y divide-gray-200 dark:divide-gray-700">
                        {% for job in job_applications %}
                            <a href="/applications/{{ current_page }}?_jobid={{ job[0] }}" class="block justify-between px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                                <div class="flex items-center">
                                    <div class="flex-1 min-w-0 ms-4">
                                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            {{ job[1] }}
                                        </p>
                                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            {{ job[2] }}
                                        </p>
                                    </div>
                                    <div class="flex-2 items-end min-w-0 ms-4">
                                        {% if job[3] == None and job[4] == None %}
                                            <div class="flex justify-end">
                                                <p class="text-sm  text-gray-500 truncate dark:text-gray-400">
                                                </p>
                                            </div>
                                        {% else %}
                                            <div class="flex justify-end">
                                                <p class="text-sm  text-gray-500 truncate dark:text-gray-400">
                                                    ${{'%0.2f' % job[3]|float }} - ${{'%0.2f' % job[4]|float }}
                                                </p>
                                            </div>
                                        {% endif %}
                                        <div class="flex justify-end">
                                            <p class="text-sm justify-end text-gray-500 truncate dark:text-gray-400">
                                                Applied: {{ job[5] }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                    <div class="flex flex-col items-center mt-6">
                        <nav>
                              <ul class="inline-flex -space-x-px text-sm">
                                    {% if current_page - 1 == 0 %}
                                        <li>
                                          <a class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-700 bg-white border border-e-0 border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-600 ">Previous</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="/applications/{{ current_page - 1 }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% for page in range(num_pages) %}
                                        {% if (page + 1) == current_page %}
                                            <li>
                                                <a href="/applications/{{ page + 1 }}" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page + 1 }}</a>
                                            </li>
                                        {% else %}
                                            <li>
                                              <a href="/applications/{{ page + 1 }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page + 1 }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if current_page + 1 > num_pages %}
                                        <li>
                                          <a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-700 bg-white border border-gray-300 rounded-e-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-600 ">Next</a>
                                        </li>
                                    {% else %}
                                        <li>
                                          <a href="/applications/{{ current_page + 1 }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                        </li>
                                    {% endif %}
                              </ul>
                        </nav>
                    </div>
               </div>
            </div>
        </div>
        {% if add_job == True %}
            {% include "components/add_job.html" %}
        {% else %}
            {% include "components/application_details.html" %}
        {% endif %}
    </div>
</main>
<script>
    $("input[name=hourly_low]").on('input', function() {
        $("input[name=salary_low]").val(($(this).val()*2080))
    })
    $("input[name=hourly_high]").on('input', function() {
        $("input[name=salary_high]").val(($(this).val()*2080))
    })
</script>
</div>
{% endblock %}