{% extends 'layout.html' %}

{% block content %}

<div class="p-0 mt-14"> <!-- Adjust this to accommodate the sidebar -->
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ app_data['job_details']['company_name'] }} / {{ app_data['job_details']['job_title'] }}</h1>
    </div>
</header>

<main>

    <div class="flex justify-center">
        <div class="flex flex-wrap gap-3 py-6 sm:pr-6 lg:pr-8">
            <div class="flex flex-col grow w-[600px] max-w-[600px]">
                <div class="p-4 w-full bg-white m-3 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Job Match Rating</h5>
                    <div class="flex items-center justify-center">
                        <div>
                            <div id="match-rating"></div>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white m-3 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                            <li class="me-2" role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="searchability-tab" data-tabs-target="#searchability-content" type="button" role="tab" aria-controls="searchability-content" aria-selected="false">Searchability</button>
                            </li>
                            <li class="me-2" role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="soft-skills-tab" data-tabs-target="#soft-skills-content" type="button" role="tab" aria-controls="soft-skills-content" aria-selected="false">Soft Skills</button>
                            </li>
                            <li class="me-2" role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#hard-skills-content" type="button" role="tab" aria-controls="hard-skills-content" aria-selected="false">Hard Skills</button>
                            </li>
                            <li role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="formatting-tab" data-tabs-target="#formatting-content" type="button" role="tab" aria-controls="formatting-content" aria-selected="false">Formatting</button>
                            </li>
                        </ul>
                    </div>
                    <div id="default-tab-content h-96 overflow-auto">
                        <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="searchability-content" role="tabpanel" aria-labelledby="searchability-tab">
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                        </div>
                        <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="soft-skills-content" role="tabpanel" aria-labelledby="soft-skills-tab">
                            <div class="p-4">
                                <p class="text-sm text-gray-500 dark:text-gray-400">Soft skills are interpersonal and behavioral abilities like communication, teamwork, and problem-solving. They are important on a resume because they show how well a candidate can work with others and adapt to various situations. Highlighting soft skills helps employers gauge a candidate's fit within the company culture and their potential for collaboration and leadership.</p>
                            </div>
                            <div id="soft-skills" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-800 text-gray-800 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                                {% for keyphrase, value in app_data['soft_skills'].items() %}
                                    <h2 id="soft-skills-heading-{{ loop.index }}">
                                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 hover:bg-gray-100 gap-3" data-accordion-target="#soft-skills-body-{{ loop.index }}" aria-expanded="false" aria-controls="soft-skills-body-{{ loop.index }}">
                                            <span>{{ keyphrase }}</span>
                                            <span>{{ value[0] }} / {{ value[1] }}</span>

                                        </button>
                                    </h2>
                                    <div id="soft-skills-body-{{ loop.index }}" class="hidden" aria-labelledby="soft-skills-heading-{{ loop.index }}">
                                        <ul class="list-disc list-inside py-5 border-b border-gray-200 dark:border-gray-700">
                                            <li class="mb-2 text-gray-500 dark:text-gray-400">{{ app_data['highlights'][keyphrase][0] }}</li>
                                            <li class="text-gray-500 dark:text-gray-400">{{ app_data['highlights'][keyphrase][1] }}</li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="hard-skills-content" role="tabpanel" aria-labelledby="hard-skills-tab">
                            <div class="p-4">
                                <p class="text-sm text-gray-500 dark:text-gray-400">Hard skills are specific, teachable abilities acquired through education or experience, such as programming, statistical analysis, and project management. They are important on a resume because they demonstrate a candidate's technical proficiency and ability to perform job-specific tasks. Listing hard skills helps employers quickly assess qualifications and match applicants to job requirements.</p>
                            </div>
                            <div id="hard-skills" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-800 text-gray-800 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                                {% for keyphrase, value in app_data['hard_skills'].items() %}
                                    <h2 id="hard-skills-heading-{{ loop.index }}">
                                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 hover:bg-gray-100 gap-3" data-accordion-target="#hard-skills-body-{{ loop.index }}" aria-expanded="false" aria-controls="hard-skills-body-{{ loop.index }}">
                                            <span>{{ keyphrase }}</span>
                                            <span>{{ value[0] }} / {{ value[1] }}</span>
                                        </button>
                                    </h2>
                                    <div id="hard-skills-body-{{ loop.index }}" class="hidden" aria-labelledby="hard-skills-heading-{{ loop.index }}">
                                        <ul class="list-disc list-inside py-5 border-b border-gray-200 dark:border-gray-700">
                                            <li class="mb-2 text-gray-500 dark:text-gray-400">{{ app_data['highlights'][keyphrase][0] }}</li>
                                            <li class="text-gray-500 dark:text-gray-400">{{ app_data['highlights'][keyphrase][1] }}</li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="formatting-content" role="tabpanel" aria-labelledby="formatting-tab">
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col max-w-2xl">
                <div class="w-full bg-white m-3 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Resume Editor</h5>
                    <div class="my-4">
                        <span class="text-gray-500 dark:text-gray-300">This is where you mold your resume to meet the demands of the job description. Anything added will be added to the master resume. Deleting items only affect this custom resume and not the master resume. JobAi will automatically filter out the least relevant experiences to keep your resume short and to the point.</span>
                    </div>
                    <div class="grid grid-cols-2 justify-between my-4">
                        <span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Saved</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="py-4 w-full sm:grid sm:grid-cols-5 sm:gap-4 sm:px-0">
                            <div class="grid col-span-6 relative overflow-x-auto">
                                <div id="resume-editor" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-800 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                                    <h2 id="resume-editor-heading-1">
                                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#resume-editor-body-1" aria-expanded="false" aria-controls="resume-editor-body-1">
                                            <span>Your Information</span>
                                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="resume-editor-body-1" class="hidden" aria-labelledby="resume-editor-heading-1">
                                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                            {% include "components/resume_components/contact_info.html" %}
                                        </div>
                                    </div>
                                    <h2 id="resume-editor-heading-2">
                                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#resume-editor-body-2" aria-expanded="false" aria-controls="resume-editor-body-2">
                                            <span>Summary / Brand Statement</span>
                                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="resume-editor-body-2" class="hidden" aria-labelledby="resume-editor-heading-2">
                                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                            {% include "components/resume_components/summary.html" %}
                                        </div>
                                    </div>
                                    <h2 id="resume-editor-heading-3">
                                        <button type="button" class="flex grow items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#resume-editor-body-3" aria-expanded="false" aria-controls="resume-editor-body-3">
                                            <span>Work Experience</span>
                                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                            </svg>
                                        </button>
                                    </h2>
                                <!-- Experience -->
                                    <div id="resume-editor-body-3" class="hidden" aria-labelledby="resume-editor-heading-3">
                                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                            {% include "components/resume_components/experience.html" %}
                                        </div>
                                    </div>
                                    <h2 id="resume-editor-heading-4">
                                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#resume-editor-body-4" aria-expanded="false" aria-controls="resume-editor-body-4">
                                            <span>Education</span>
                                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="resume-editor-body-4" class="hidden" aria-labelledby="resume-editor-heading-4">
                                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                            {% include "components/resume_components/education.html" %}
                                        </div>
                                    </div>
                                    <h2 id="resume-editor-heading-5">
                                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#resume-editor-body-5" aria-expanded="false" aria-controls="resume-editor-body-5">
                                            <span>Core Skills</span>
                                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="resume-editor-body-5" class="hidden" aria-labelledby="resume-editor-heading-5">
                                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}

{% block scripts %}
<script>
        var searchability = {{ app_data['scores']['searchability'] }}
        var hard_skills = {{ app_data['scores']['hard_skills'] }}
        var soft_skills = {{ app_data['scores']['soft_skills'] }}

        var options = {
          series: [searchability, hard_skills, soft_skills, 90],
          chart: {
          height: 390,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            offsetY: 0,
            startAngle: 0,
            endAngle: 270,
            hollow: {
              margin: 5,
              size: '30%',
              background: 'transparent',
              image: undefined,
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                show: false,
              }
            },
            barLabels: {
              enabled: true,
              useSeriesColors: true,
              margin: 8,
              fontSize: '16px',
              formatter: function(seriesName, opts) {
                return seriesName + ":  " + opts.w.globals.series[opts.seriesIndex]
              },
            },
          }
        },
        colors: ['#1ab7ea', '#0084ff', '#39539E', '#0077B5'],
        labels: ['Searchability', 'Hard Skills', 'Soft Skills', 'Formatting'],
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
                show: false
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#match-rating"), options);
        chart.render();
</script>
</div>
{% endblock %}