<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JobAi</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    </head>
    <body class="bg-white shadow dark:bg-gray-900">
        <div class="min-h-full">
            {% include "components/horizontal_nav.html" %}
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
    </body>
</html>